*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #606c38;
  color: #fefae0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#play-container{
  background-color: #283618;
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-radius: 20px;
  gap: 20px;
}

button{
  font-size: 96px;
  border-radius: 100%;
  padding: 20px;
  background-color: #606c38;
  border: 10px dashed #bc6c25;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover{
  background-color: #6d9045;
}

#buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

h2{
  margin-bottom: 30px;
}

#status, #result{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#status{
  font-size: 20px;
}

#result{
  color: #dda15e;
  font-size: 24px;
}